<!DOCTYPE html>
<html  lang="et">
</head>
  <meta charset="utf-8">
  <title>joosep, veebiprogrammeerimine</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="kurusue bänner">
  <h1>joosep, veebiprogrammeerimine</h1>
  <p>see leht on loodud  <a href="https://www.tlu.ee">Tallinan Ülikoolis </a> veebiprogrammeerimise kursusel ja ei oma mõistliku sisu.</p>
  <hr> 
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2><%= heading %></h2>
  <ul>
	<% listData.forEach (function(listItem){ %>
		<li><%= listItem %></li>
	<% }); %>
  </ul>
</body
</html>
