<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>joosep, veebiprogrammeerimine</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="kuruse bänner">
  <h1>joosep, veebiprogrammeerimine</h1>
  <p>see leht on loodud  <a href="https://www.tlu.ee">Tallinna Ülikoolis </a> veebiprogrammeerimise kursusel ja ei oma mõistliku sisu.</p>
  <hr> 
  <ul>
    <li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Pane end külastajana kirja</h2>
  <form method="POST" action="/regvisit">
    <label for="firstNameInput">Eesnimi</label>
    <input id="firstNameInput" type="text" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
    <br>
    <label for="lastNameInput">Perekonnanimi</label>
    <input id="lastNameInput" type="text" name="lastNameInput" placeholder="Kirjuta siia oma perekonnanimi...">
    <br>
    <input id="reqSubmit" type="submit" name="regSubmit" value="Salvesta">
  </form>
</body>
</html>
