<h2>Kõik külastused</h2>
<ol>
	<% visits.forEach(function(visit){ %>
		<li><%= visit %></li>
	<% }); %>
</ol>
<p>
	<a href="/">Avalehele</a> | 
	<a href="/regvisit">Registreeri uus külastus</a>
</p>
